.sombra{
	box-shadow:3px 5px 3px rgba(0,0,0,.8);
}
.pie{
	font-size:18px;
	background: #4b4b4b;
	color:#d2d2d2;
	text-align: center;
	height: 25px;
	width:auto;
	height: auto;
}
.sociales{
	width:100%;
}
.perfil{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	/*width:300px; */
   	/*height:320px; */
}
.carouselimages{
	width:1200px; 
   	height:500px; 
}

@media screen and (max-width:700px){
	.nav-pills > li {
	  float: left;
	}
	.nav-pills > li > a {
	  border-radius: 4px;
	}
	.nav-pills > li + li {
	  margin-left: 2px;
	}
	.nav-pills > li.active > a,
	.nav-pills > li.active > a:hover,
	.nav-pills > li.active > a:focus {
	  color: #fff;
	  background-color: #337ab7;
	}
	.nav-stacked > li {
	  float: none;
	}
	.nav-stacked > li + li {
	  margin-top: 2px;
	  margin-left: 0;
	}
}
