@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-xxxlx9');
	src:url('../fonts/icomoon.eot?#iefix-xxxlx9') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-xxxlx9') format('truetype'),
		url('../fonts/icomoon.woff?-xxxlx9') format('woff'),
		url('../fonts/icomoon.svg?-xxxlx9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-phone:before {
	content: "\e942";
}
.icon-clock:before {
	content: "\e94e";
}
.icon-calendar:before {
	content: "\e953";
}
.icon-download:before {
	content: "\e960";
}
.icon-upload:before {
	content: "\e961";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-drive:before {
	content: "\e963";
}
.icon-database:before {
	content: "\e964";
}
.icon-undo:before {
	content: "\e965";
}
.icon-redo:before {
	content: "\e966";
}
.icon-undo2:before {
	content: "\e967";
}
.icon-redo2:before {
	content: "\e968";
}
.icon-forward:before {
	content: "\e969";
}
.icon-reply:before {
	content: "\e96a";
}
.icon-users:before {
	content: "\e972";
}
.icon-user-tie:before {
	content: "\e976";
}
.icon-lock:before {
	content: "\e98f";
}
.icon-unlocked:before {
	content: "\e990";
}
.icon-power-cord:before {
	content: "\e9b7";
}
.icon-list:before {
	content: "\e9ba";
}
.icon-sphere:before {
	content: "\e9c9";
}
.icon-mail4:before {
	content: "\ea86";
}
.icon-google-plus2:before {
	content: "\ea89";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-github:before {
	content: "\eab1";
}
.icon-github2:before {
	content: "\eab2";
}
.icon-github5:before {
	content: "\eab5";
}
.icon-tux:before {
	content: "\eabe";
}
.icon-apple:before {
	content: "\eabf";
}
.icon-pinterest2:before {
	content: "\ead1";
}
.icon-html52:before {
	content: "\eae0";
}
