*{
		font-family:"ubuntu",sans-serif;
	margin: 0;
	padding: 0;
}
.logo{ /* logo de code.sessions mediano */
	background-image: url(../img/logo-mediano-cs.png);
	margin:auto;
	width:600px;
  height:159px;
	background-repeat: no-repeat;
}
header nav{
	width: 90%;
	margin:auto;
	background: #4b4b4b;


}
.menu_bar{
	display:none;
	background: #4b4b4b;
	border-radius: 10px;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
header nav ul{
	overflow: hidden;
	list-style: none;
}
.barra{
	width: 100%;
	background: #4b4b4b;
}
.centrar{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
header nav ul li {
	float: left;
}
header nav ul li a {
	color:#fff;
	padding:15px;
	display:block;
	text-decoration: none;
}
header nav ul li a:hover{
	background:#1f35a6;
}
header nav ul li span{
	margin-right:10px;
}
section{
	padding:20px;
}
@media screen and (max-width:650px){
	.logo{ /*se cambia el logo por uno más pequeño*/
		background-image:url(../img/logo-peque-cs.png);
		width: 400px;
	  height:106px;
	}
	header nav{
		left:-100%;
		width:100%;
		height:auto;
		margin:0px;
		padding:0px;
		position:absolute;
		display:block;
		border-radius: 0px;
	}
	header nav ul li {
		text-align: center;
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255,.3);
	}
	.menu_bar{
		display:block;
		width:100%;
		background:#ccc;
	}
	.menu_bar .bt-menu{
		border-bottom:1px solid rgba(255,255,255,.3);
		display:block;
		padding:15px;
		background:#353535;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		font-size:30px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menu_bar span{
		float:right;
		font-size:30px;
		display:block;
	}
}
